/* HEADER */
.header {
  margin: 92px 24px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_no-underline {
  text-decoration: none;
}

.header__address {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-item {
  text-underline-offset: 3px;
  line-height: 24.3px;
  max-width: 240px;
  display: block;
  font-style: normal;
}

/* COVER */
.cover {
  min-height: 745px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 8px;
  background-repeat: no-repeat;
  position: relative;
}

.cover::before {
  z-index: 1;
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding-top: 162px;
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}

.cover__title-accent {
  display: block;
}

.cover__title-ono {
  z-index: 1;
  padding-left: 48px;
  text-align: left;
  line-height: 115%;
}

.cover__title-ono-o {
  letter-spacing: 6px;
}

.cover__title-ono-no {
  letter-spacing: 60px;
}

.cover__title-tebe {
  padding-top: 17px;
  line-height: 100%;
  text-align: center;
  word-spacing: -24px;
}

.cover__title-tebe-te {
  letter-spacing: 29px;
}

.cover__title-tebe-be {
  letter-spacing: 58px;
}

.cover__title-nado {
  padding-top: 19px;
  text-align: right;
  line-height: 100%;
  padding-right: 48px;
}

.cover__title-nado-n {
  letter-spacing: 35px;
}

.cover__title-nado-a {
  letter-spacing: 4px;
}

.cover__title-nado-d {
  letter-spacing: 4px;
}

.cover__title-nado-o {
  letter-spacing: 2px;
}

.cover__description {
  padding-top: 133px;
  display: flex;
  padding-left: 50px;
  padding-right: 18px;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  display: inline-block;
  line-height: 28px;
  color: #fff;
  word-spacing: 17px;
}

.cover__description-text-one {
  padding-left: 5px;
}

.cover__description-button {
  border: #fff solid 1px;
  display: inline-block;
  text-transform: uppercase;
  min-width: 252px;
  min-height: 52px;
  font-size: 22px;
  background: transparent;
  color: #fff;
  margin-top: -2px;
  font-family: inherit;
}

.cover__description-button:hover {
  cursor: pointer;
}

.lots {
  margin: 175px 33px;
}

.lots__heading {
  padding-left: 37px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 25px;
}

.card-link {
  text-decoration: none;
}

/* LOTS */
.lots__card {
  margin-top: 26px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-size: cover;
  min-height: 554px;
}

.lots__card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 0.6);
}

.lots__card-title {
  position: relative;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-top: 48px;
  padding-right: 35px;
  padding-left: 39px;
  margin-bottom: -6px;
}

.lots__card-text {
  position: relative;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-left: 39px;
  padding-right: 35px;
  padding-bottom: 46px;
}

.lots__card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__footer {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 39px;
  margin-top: 29px;
  text-underline-offset: 4px;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr 1.98fr;
  gap: 25px;
}

.about__logo {
  background-color: #000;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-left: 33px;
  margin-top: 3px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-title {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 101px;
  margin-bottom: 100px;
}

.about__column-text {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* FOOTER */
.footer {
  margin: 182px 58px 89px 58px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}

.footer__address {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list {
  line-height: 21px;
  letter-spacing: 1px;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__socials {
  display: flex;
  flex-direction: row-reverse;
  gap: 48px;
  list-style: none;
}

.footer__socials-icon {
  width: 47px;
}
